@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid-wrapper raf-signin-promo-wrapper">
    <section class="raf-signin-promo">
        <div class="raf-signin-promo__text">
            Refer a friend and receive
            <span class="mobile-hide">a £50 reward</span>
            <span class="mobile-show">£50</span>
        </div>
        <a class="btn raf-signin-promo__button" data-track="login_raf_button_clicked" href="../about-us/refer/index.html">Learn more</a>
    </section>
</div>
<section class="site-section grid-wrapper">
    <div class="form signin">
        <div class="grid">
            <div class="grid-cell">
                <div class="inset">
                    <h1 class="ribbon">Insurance</h1>
                    <p>If you need to access your policy documents and certificate of insurance, this is the place to do it. Using the links below you can grab your documents as well as make changes to your policy or make a claim.</p>
                </div>
            </div><div class="grid-cell">
                <div class="inset with-aside">
                    <div class="grid">
                        <div class="form grid-cell desktop-onehalf tablet-onehalf">
                            <div class="module">
                                <div class="btn-panel">
                                    <a class="btn qa-request-your-documents" data-track="signin_page_user_action_cta_clicked" href="https://quote.simplybusiness.co.uk/support/documents/request" id="cta_request_your_documents">Request your documents</a>
                                    <a class="btn qa-get-your-certificate-of-insurance" data-track="signin_page_user_action_cta_clicked" href="https://quote.simplybusiness.co.uk/certificate/request" id="cta_get_your_certificate_of_insurance">Get your certificate of insurance</a>
                                    <a class="btn qa-update-your-policy" data-track="signin_page_user_action_cta_clicked" href="../support/index5415.html?topic=i_want_to_make_changes_to_my_policy" id="cta_update_your_policy">Update your policy</a>
                                    <a class="btn qa-renew-your-policy" data-track="signin_page_user_action_cta_clicked" href="../support/indexa064.html?topic=renewal" id="cta_renew_your_policy">Renew your policy</a>
                                    <a class="btn qa-cancel-your-policy" data-track="signin_page_user_action_cta_clicked" href="../support/indexf7c8.html?topic=i_want_to_cancel_my_policy" id="cta_cancel_your_policy">Cancel your policy</a>
                                    <a class="btn qa-make-a-claim" data-track="signin_page_user_action_cta_clicked" href="../insurance-claims/submit-your-claims-online/index.html" id="cta_make_a_claim">Make a claim</a>
                                    <a class="btn qa-contact-us" data-track="signin_page_user_action_cta_clicked" href="../support/index.html" id="cta_contact_us">Contact us</a>
                                </div>
                            </div>
                        </div><div class="aside grid-cell desktop-onehalf tablet-onehalf">
                            <div class="module">
                                <div class="module-content">
                                    <h2>Sign in</h2>
                                    @*<p>If you completed a business quote before <em>1 February 2014</em> or a landlord quote before <em>19 December 2013</em> you can sign in below.</p>
                                        <p>Online accounts aren’t currently available for newer customers, so if you got your quotes after these dates, use the options on the left to manage your policy instead.</p>*@
                                </div>
                                <form action="https://account.simplybusiness.co.uk/account/index.htm" class="signin-form visible" data-module="hidden_form" data-please-wait="false" method="post">
                                    <input name="__action" type="hidden" value="login">
                                    <input name="__pt" type="hidden" value="verify">
                                    <input name="neworreg" type="hidden" value="regduser">
                                    <fieldset>
                                        <div class="control-block">
                                            <label class="control-label" for="signin-email">Email address</label>
                                            <div class="control">
                                                <input autocomplete="off" class="required" id="signin-email" name="email" type="email">
                                            </div>
                                        </div>
                                        <div class="control-block">
                                            <label class="control-label" for="signin-password">Password</label>
                                            <div class="control">
                                                <input autocomplete="off" class="required" id="signin-password" name="loginPassword" type="password">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-actions">
                                        <button class="btn-primary qa-marketplace-signin" data-track="marketplace_sign_in_cta_clicked" type="submit">Sign in</button>
                                        <div class="link">
                                            <a data-track="forgotten_password_clicked" href="https://account.simplybusiness.co.uk/index.htm?sel=password_reset_my_account">I forgot my password</a>
                                        </div>
                                    </div>
                                </form>
                                @*<button class="btn-primary signin-show-action js-show-action qa-marketplace-signin-attempt" data-track="marketplace_sign_in_attempt_cta_clicked">Sign in</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-section">
    <div class="site-section grid-wrapper breadcrumbs">
        <ol itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="home" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a class="icon-home" href="/" itemprop="item" itemscope itemtype="https://schema.org/Thing">
                    <span itemprop="name">Home</span>
                </a>
                <meta content="1" itemprop="position">
            </li>
            <li class="long" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a href="../support/index.html" itemprop="item" itemscope itemtype="https://schema.org/Thing">
                    <span itemprop="name">Help and support</span>
                </a>
                <meta content="2" itemprop="position">
            </li>
            <li class="last long" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <span itemprop="name">Sign in to access your account</span>
                <meta content="3" itemprop="position">
            </li>
        </ol>
    </div>
</section>

