<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="InsurancePortalEntities" connectionString="metadata=res://*/InsurancePortalEntities.csdl|res://*/InsurancePortalEntities.ssdl|res://*/InsurancePortalEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAY-PC\SQLEXPRESS;initial catalog=InsurancePortal;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>