@{
    ViewBag.Title = "Home Page";
}
<section class="site-section home-hero">
    <div class="hero js-has-css-animation">
        <div class="inner">
            <h1>
                <span>Business insurance<br>made for you</span>
            </h1>
            <p>
                <span>Get a tailored policy in minutes and join over 425,000 customers.</span>
            </p>
            <a class="btn cta-button qa-cta-button-primary" data-track="primary_cta_clicked" href="@Url.Action("Index", "Quote", new { @template = "Business"})">Compare quotes</a>
            @*<a class="btn cta-button qa-cta-button-primary" data-track="primary_cta_clicked" href="~/pages/quote/index.html">Compare quotes</a>*@
            <ul class="insurers qa-insurers-bar"><li class="zurich">Zurich</li><li class="axa">AXA</li><li class="hiscox">Hiscox</li><li class="maltings">Maltings</li><li class="covea">Covea</li><li class="ageas">Ageas</li><li class="uk_general">UK General</li><li class="aig">AIG</li></ul>
        </div>
    </div>
</section>
<section class="site-section grid-wrapper">
    <h2 class="section-heading">How can we help?</h2>
    <div class="teasers">
        <div class="grid">
            <div class="desktop-onethird grid-cell">
                <div class="module">
                    <div class="module-banner" style="background-image: url(assets/features/our_insurance-2397afc0571d4d402bf21a04f89d3b3b7a8bdbb3ccb342ad97a150092404e11d.jpg)"></div>
                    <div class="module-content">
                        <h3>Our insurance</h3>
                        <p>
                            From <a href="insurance/public-liability/index.html">public liability insurance</a>
                            for injury and property damage, to <a href="insurance/employers-liability/index.html">employers’ liability insurance</a>
                            for your staff and freelancers, we offer the core covers you need, plus specific options for a range of risks,
                            such as <a href="insurance/professional-indemnity/index.html">professional indemnity insurance</a>,
                            or <a href="insurance/business-equipment/index.html">protection for your business equipment</a>.
                        </p>ab
                    </div>
                </div>
            </div><div class="desktop-onethird grid-cell">
                <div class="module">
                    <div class="module-banner" style="background-image: url(assets/features/your_business-b160219c25e1d09a69f9ee16b8a9fd3613e51d93c5958cb003b06034002c44e6.jpg)"></div>
                    <div class="module-content">
                        <h3>Your business</h3>
                        <p>As one of the UK’s biggest commercial insurance brokers, we provide business insurance tailored to your needs. We specialise in <a href="insurance/index.html">small business insurance</a> and protect <a href="insurance/tradesman/index.html">tradesmen</a>, <a href="insurance/shop/index.html">shops</a>, <a href="insurance/restaurant/index.html">restaurants</a>, <a href="insurance/pub/index.html">pubs</a>, <a href="insurance/self-employed/index.html">self-employed</a> <a href="insurance/professionals/index.html">professionals</a> and many more. We can even cover you for e-commerce, with our <a href="insurance/online-retailers/index.html">online retail insurance</a>.</p>
                    </div>
                </div>
            </div><div class="desktop-onethird grid-cell">
                <div class="module">
                    <div class="module-banner" style="background-image: url(assets/features/just_for_landlords-14b36147155250e2fc92e524bc09dccdffb0c221d0a4bc56a80ce996a9a04bc8.jpg)"></div>
                    <div class="module-content">
                        <h3>Just for landlords</h3>
                        <p>
                            Landlords need insurance as much as the next business, if not more. Whether it’s your first buy-to-let or a commercial property, tailor our <a href="landlord-insurance/index.html">landlord insurance</a>
                            options to get the protection you need. It’s flexible cover, with options for things like
                            <a href="landlord-insurance/building-insurance/index.html">buildings</a>,
                            <a href="landlord-insurance/content-insurance/index.html">contents</a> and
                            <a href="landlord-insurance/loss-of-rent-insurance/index.html">loss of rent</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section homepage-video">
    <div class="grid-wrapper">
        <div class="grid">
            <div class="grid-cell desktop-onethird">
                <div class="module">
                    <div class="module-content">
                        <h2>Insurance as unique as your business</h2>
                        <p>Every small business is unique. And so is our insurance.</p>
                        <p>From cafés to carpenters, insuring over 425,000 customers has taught us that you’re all different.</p>
                        <p>Listening to  customers, it’s clear that small businesses need insurance that’s simple, flexible and tailored — so that’s exactly what we provide. And now we have a brand identity to fit the bill.</p>
                        <p>Welcome to business insurance, made for you.</p>
                    </div>
                </div>
            </div><div class="grid-cell desktop-twothirds">
                <div class="module">
                    <div class="video js-video-player qa-video" data-videoid="dcoGPYxjZbg" itemscope itemtype="https://schema.org/VideoObject">
                        <a class="video__play-button" href="https://youtu.be/dcoGPYxjZbg" itemprop="video" target="_blank">
                            Play the video
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section b-corp">
    <div class="grid-wrapper">
        <div class="grid">
            <div class="grid-cell desktop-onethird">
                <div class="module">
                    <div class="module-content">
                        <h2>Being a B Corporation</h2>
                        <p>In 2017, company name became an accredited B Corp. This accreditation recognises our strong track record of having a positive impact on people, society and the environment.</p>
                        <p>We’re at the beginning of our B Corp journey, and although we’ve been recognised as a market leader, we’ll continue to look for more ways to support our workers, help others, and help preserve our world.</p>
                        <p><br /></p>
                        <p><a class="btn small keyline btn--small btn--ghost" href="pages/about-us/social-impact/index.html">Learn more</a></p>
                    </div>
                </div>
            </div><div class="grid-cell desktop-twothirds">
                <div class="module">
                    <img class="img--responsive" src="assets/homepage/sb_campaign_image-597acb9c5d6188291351a356c93bef16b008a04328edd170da15375a7c2218a2.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section grid-wrapper">
    <div class="teasers">
        <div class="grid">
            <div class="desktop-onehalf grid-cell">
                <h2 class="section-heading">Customer reviews</h2>
                <div class="module feefo qa-feefo-module" itemscope itemtype="https://schema.org/InsuranceAgency">
                    <meta content="company name" itemprop="name">
                    <div class="module-banner">
                        <h3>
                            Our rating
                        </h3>
                        <p>
                            Customer review
                        </p>
                        <div class="rating qa-feefo-rating" itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                            <span itemprop="ratingValue">4.6</span>
                            <sup>/5</sup>
                            <span class="star-rating">
                                <span class="bar" style="left:-8.000000000000007%"></span>
                                <span class="stars"></span>
                            </span>
                            <meta content="32559" itemprop="ratingCount">
                        </div>
                    </div>
                    <div class="module-content">
                        <h3>Working out our score</h3>
                        <p>Our score is based on the reviews we’ve collected on Feefo, the independent customer research specialist. For more details on how this works, click below.</p>
                        <p><a href="support/customer-feedback/index.html">Read our reviews</a></p>
                    </div>
                </div>
            </div><div class="desktop-onehalf grid-cell">
                <h2 class="section-heading">Customer testimonials</h2>
                <div class="module testimonial qa-testimonial">
                    <div class="module-banner">
                        <blockquote>
                            <p>“Just taken out a policy with these people - great service.”</p>
                            <footer>Claire Thomas, Shop</footer>
                        </blockquote>
                    </div>
                    <div class="module-content">
                        <h3>What our customers are saying</h3>
                        <p>We value the reviews and ratings we receive from our customers, whether they’re good or bad. We use this feedback to continuously improve how we work with (and for) our customers.</p>
                        <p><a href="support/index.html">Contact us</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section grid-wrapper">
    <div class="grid">
        <div class="desktop-onethird grid-cell">
            <h2 class="section-heading">News headlines</h2>
            <div class="module">
                <div class="module-content">
                    <h3>Revealed: the UK cities set to be hit hardest by April’s business rates rise</h3>
                    <p>company name data has revealed the potential impact of the business rates rise to UK small businesses - with Milton Keynes and Reading set to be hit the hardest.</p>
                    <p><a href="knowledge/articles/2017/04/business-rates-rise-2017-where-uk-small-business-will-be-hit-hardest/index.html">Read more</a></p>
                </div>
            </div>
        </div><div class="desktop-onethird grid-cell">
            <h2 class="section-heading">Our articles</h2>
            <div class="module">
                <div class="module-content">
                    <h3>5 things you need to know about the new Self Assessment process</h3>
                    <p>HMRC have announced an overhaul of the Self Assessment process, claiming that the move will make life easier for the self-employed.</p>
                    <p><a href="knowledge/articles/2017/02/hmrc-changes-the-self-assessment-process/index.html">Read more</a></p>
                </div>
            </div>
        </div><div class="desktop-onethird grid-cell">
            <h2 class="section-heading">Press releases</h2>
            <div class="module">
                <div class="module-content">
                    <h3>company name launch new brand identity</h3>
                    <p>company name has refreshed their brand identity - moving to a more defined positioning with a vibrant new logo, fresh colour palette and messaging.</p>
                    <p><a href="about-us/press-releases/simply-business-launch-new-brand-identity-to-enable-global-growth/index.html">Find out more</a></p>
                </div>
            </div>
        </div>
    </div>
</section>