<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="InsurancePortalEntities" connectionString="metadata=res://*/InsurancePortalEntities.csdl|res://*/InsurancePortalEntities.ssdl|res://*/InsurancePortalEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAY-PC\SQLEXPRESS;initial catalog=InsurancePortal;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="InsurancePortalEntities" connectionString="metadata=res://*/InsurancePortalEntities.csdl|res://*/InsurancePortalEntities.ssdl|res://*/InsurancePortalEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3HJ3ESF;initial catalog=InsurancePortal;persist security info=True;user id=sa;password=sa@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>