/*
#################### GLOBAL RESET ####################
*/
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h5, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
table {border-collapse:collapse; border-spacing:0;}
fieldset, img {border:0;}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal; font-weight:normal;}
ol, ul, li {list-style:none;}
caption, th {text-align:left;}
h1, h2, h3, h5, h5, h6 {font-size:100%; font-weight:normal;}
q:before, q:after {content:'';}
a img {border:none}

/* CSS Tricks  - some handy css fixes */
.hide {position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden;}
.clearfix:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
* html .clearfix { zoom:1; } /* IE6 */
*:first-child+html .clearfix { zoom:1; } /* IE7 */

/*
#################### TYPOGRAPHY ####################
*/
/* Global reset-RESET - The below restores some sensible defaults */
body {font-size:100%; font-family:sans-serif; color:#fff;}
p, td, th, li, input, textarea {font-size:16px;}
p, td, th, li {margin:0 0 10px; line-height:1.5em;}
h1, h2, h3, h4, h5, h6 {margin:10px 0; font-weight:normal;}
h1 {font-size:28px;}
h2 {font-size:26px;}
h3 {font-size:24px;}
h4 {font-size:22px;}
h5 {font-size:20px;}
h6 {font-size:18px;}
strong, b {font-weight: bold; font-style:inherit;}
em, i {font-style: italic; font-weight:inherit;}
p, td, th {font-size:13px; line-height:1.5em; margin:0 0 10px;}
a, a:link, a:visited {
	text-decoration:underline;
}
a:visited {
}
a:hover, a:focus, a:active {
	text-decoration:none; 
}
ul li {list-style:disc; margin:4px 0 4px 30px;}
	ul ul li {list-style:circle; margin:4px 0 4px 50px;}
		ul ul ul li {list-style:square; margin:4px 0 4px 70px;}
ol li {list-style:decimal; margin:4px 0 4px 30px;}
	ol ol li {list-style:upper-roman; margin:4px 0 4px 50px;}
		ol ol ol li {list-style:lower-roman; margin:4px 0 4px 70px;}
hr {border:0; color: #bbb; background-color: #bbb; height: 1px; clear:both;}
::selection {color:#16475b; background: #000;}
::-moz-selection {color:#16475b;background: #000;}
td, th {vertical-align:top;}
small {font-size:10px; color:#555;}



/*
#################### CUSTOM CSS ####################
*/
body {
	background: #16475b url(../img/bgRepeat.jpg);
}
	.wrapper {
		width:960px;
		margin:0 auto;
	}
	#container {
	}
		#header {
			background:url(../img/productivitySeries.png) no-repeat 0 0;
			width:69px;
			height:604px;
			display:block;
			float:left;
			margin-top:-7px;
			-moz-transition:margin-top linear 0.2s;
			-webkit-transition:margin-top linear 0.2s;
			-o-transition:margin-top linear 0.2s;
			transition:margin-top linear 0.2s;
		}
		#header:hover {
			margin-top:0;
		}
		.diagram {
			background-repeat:no-repeat;
			background-position:0 0;
			margin-top:105px;
			margin-left:50px;
			float:left;
			position:relative;
			width:841px;
			height:760px;
		}
			.diagram h3 {
				position:absolute;
				left:-20px;
				top:-3px;
				margin:0;
				width:200px;
				font-weight:bold;
				font-size:14px;
				line-height:1.4em;
			}
			.diagram h4 {
				position:absolute;
				left:-20px;
				top:-80px;
				margin:0;
				font-weight:bold;
				font-size:18px;
				line-height:1.4em;
			}
				#iVideos {
					color:#e95235;
				}
				#iArticles {
					color:#0082a1;
				}
				#iTools {
					color:#d39200;
				}
			#socialFloater {
				position:absolute;
				right:0px;
				top:0px;
				width:200px;
			}
				#socialFloater .fb-like {
					float:left;
					margin-top:-1px;
				}
				#socialFloater .twitter-share-button {
					padding:0 15px 0 0;
					margin-top:-1px;
					float:left;
				}
				#socialFloater #___plusone_0 {
					float:left;
				}
			#legend {
				position:absolute;
				right:10px;
				top:100px;
			}
			.link {
				list-style:none;
				margin:0;
				position:absolute;
			}
				.link a {
					display:block;
					border:2px solid white;
					-moz-border-radius:100px;
					-webkit-border-radius:100px;
					-o-border-radius:100px;
					border-radius:100px;
					width:104px;
					height:104px;
					opacity:0;
					border-width:5px;
					margin:-3px 0 0 -3px;
					-moz-transition:opacity linear 0.2s;
					-webkit-transition:opacity linear 0.2s;
					-o-transition:opacity linear 0.2s;
					transition:opacity linear 0.2s;
				}
				.link a:hover {
					opacity:1;
				}
				.video a {
					border-color:#e95235;
				}
				.article a,
				.review a {
					border-color:#0082a1;
				}
				.tool a {
					border-color:#d39200;
				}
				.review a {
					width:71px;
					height:71px;
				}
				.main a {
					width:142px;
					height:142px;
				}
				.oldie .link a {
					border:none;
				}
		#main {background-image:url(../img/main.html); margin-left:90px; margin-top:50px; width:801px; height:660px;}
			#main1 {left:103px; top:0;}
			#main2 {left:397px; top:10px;}
			#main3 {left:490px; top:285px;}
			#main4 {left:234px; top:468px;}
			#main5 {left:0px; top:291px;}
		#meetings {background-image:url(../img/meetings.png);}
			#meetings0a {left:46px; top:444px;}
			#meetings0b {left:0px; top:311px;}
			#meetings1a {left:379px; top:605px;}
			#meetings1b {left:247px; top:602px;}
			#meetings2a {left:186px; top:0px;}
			#meetings2b {left:81px; top:95px;}
			#meetings3a {left:457px; top:0px;}
			#meetings3b {left:558px; top:95px;}
			#meetings4a {left:635px; top:313px;}
			#meetings4b {left:589px; top:443px;}
			#meetings4bReview {left:605px; top:575px;}
		#workload {background-image:url(../img/workload.png);}
			#workload5a {left:589px; top:443px;}
			#workload5b {left:635px; top:313px;}
			#workload6a {left:558px; top:95px;}
			#workload6b {left:457px; top:0px;}
			#workload7a {left:247px; top:602px;}
			#workload7b {left:379px; top:605px;}
			#workload7bReview {left:511px; top:624px;}
			#workload8a {left:0px; top:311px;}
			#workload8b {left:46px; top:444px;}
			#workload8bReview {left:63px; top:576px;}
			#workload9a {left:81px; top:95px;}
			#workload9b {left:186px; top:0px;}
		#collaboration {background-image:url(../img/collaboration.png);}
			#collaboration10a {left:457px; top:0px;}
			#collaboration10b {left:558px; top:95px;}
			#collaboration11a {left:379px; top:605px;}
			#collaboration11b {left:247px; top:602px;}
			#collaboration11bReview {left:148px; top:616px;}
			#collaboration12a {left:589px; top:443px;}
			#collaboration12b {left:635px; top:313px;}
			#collaboration13a {left:46px; top:444px;}
			#collaboration13b {left:0px; top:311px;}
			#collaboration13bReview {left:18px; top:213px;}
			#collaboration14a {left:81px; top:95px;}
			#collaboration14b {left:186px; top:0px;}
		#email {background-image:url(../img/email.png);}
			#email15a {left:81px; top:95px;}
			#email15b {left:186px; top:0px;}
			#email16a {left:457px; top:0px;}
			#email16b {left:558px; top:95px;}
			#email17a {left:635px; top:313px;}
			#email17b {left:589px; top:443px;}
			#email17bReview {left:605px; top:575px;}
			#email18a {left:379px; top:605px;}
			#email18b {left:247px; top:602px;}
			#email19a {left:0px; top:311px;}
			#email19b {left:46px; top:444px;}
			#email19bReview {left:63px; top:576px;}
		#travel {background-image:url(../img/travel.png);}
			#travel20a {left:81px; top:95px;}
			#travel20b {left:186px; top:0px;}
			#travel21a {left:247px; top:602px;}
			#travel21aReview {left:150px; top:616px;}
			#travel21b {left:379px; top:605px;}
			#travel21bReview {left:510px; top:616px;}
			#travel22a {left:457px; top:0px;}
			#travel22b {left:558px; top:95px;}
			#travel23a {left:635px; top:313px;}
			#travel23b {left:589px; top:443px;}
			#travel24a {left:46px; top:444px;}
			#travel24aReview {left:61px; top:575px;}
			#travel24b {left:0px; top:311px;}
			
		footer {
			clear:both;
		}
			footer nav {
				text-align:center;
			}
				#prev, #next {
					background:url(../img/nav.png) no-repeat;
					display:inline-block;
					height:17px;
				}
				#prev {
					background-position:0 0;
					width:78px;
				}
				#simplyLogo {
					position:relative;
					top:5px;
					margin:0 120px 40px;
					display:inline-block;
				}
				#next {
					background-position:-96px 0;
					width:46px;
				}
				#prev:hover,
				#simplyLogo:hover,
				#next:hover {
					opacity:0.7;
				}
			#embed {
				text-align:center;
				padding-bottom:30px;
			}
				#embed h5 {
					font-size:16px;
					font-weight:bold;
				}
				#embed textarea {
					margin:auto;
					border:1px #999 solid;
					color:#111;
					font-size:11px;
					font-family:monospace;
					-moz-border-radius:3px;
					-webkit-border-radius:3px;
					border-radius:3px;
					padding:5px;
					width:450px;
					height:90px;
				}