@model InsurancePortal.Web.Models.ManageQoutesViewModel

@{
    ViewBag.Title = "ManageQuotes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.Partial("_AdminLeftPanel")
<div class="col-md-10">
    <div class="row">
        <div class="navbar navbar-default bootstrap-admin-navbar-thin">
            <ol class="breadcrumb bootstrap-admin-breadcrumb">
                
                <li class="active">Quotes Templates</li>
            </ol>
        </div>
    </div>
   
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">List of Templates</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <table class="table table-striped table-bordered" id="example">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX">
                            <td>Business Template</td>
                            <td>Manage the Business Template</td>
                            <td class="center"><a href="@Url.Action("QuoteTemplate", "Settings")" title="Quotes Template">Edit</a></td>
                        </tr>
                        <tr class="even gradeC">
                            <td>Lanloard Insurance Template</td>
                            <td>Manage the Lanloard Insurance Template</td>
                            <td class="center"><a href="@Url.Action("QuoteTemplate", "Settings")" title="Template Sections">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
