@model InsurancePortal.Web.Models.TemplateModel

@using (Html.BeginForm("AddTemplate", "Settings", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 form-group" style="float:left;">
                <label class="col-md-3 control-label">Template Name</label>
                <div class="col-md-9">
                    @*<input class="form-control" type="text" placeholder="Template Name here" id="inputUserName" />*@
                    @Html.TextBoxFor(model => model.TemplateName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TemplateName)
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary button button4">Save</button>
        <button type="button" id="btnHideModal" class="btn btn-primary button button4">
            Close
        </button>
    </div>
}