
@{
    ViewBag.Title = "QuoteTabs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@Html.Partial("_AdminLeftPanel")
<div class="col-md-10">
    <div class="row">
        <div class="navbar navbar-default bootstrap-admin-navbar-thin">
            <ol class="breadcrumb bootstrap-admin-breadcrumb">
               
                <li>
                    <a href="@Url.Action("ManageQuotes","Settings")">Manage Quotes</a>
                </li>
                <li>
                    <a href="@Url.Action("QouteTemplate","Settings")">Quotes Template</a>
                </li>
                <li class="active">Manage Quotes Tab</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Tab Details</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            @Html.TextBox("txtname", "", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top:15px;">
                        <div class="col-md-12 text-right">
                            <a href="javascript:void(0);" class="btn btn-primary">Save Tab</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">List of Questions</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <table class="table table-striped table-bordered" id="example">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Question</th>
                            <th>Answer type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX">
                            <td>1</td>
                            <td>What is your specific business / trade?</td>
                            <td>Search with Selection</td>
                            <td class="center"><a href="javascript:void(0);" title="Quotes Template">Edit</a></td>
                        </tr>
                        <tr class="even gradeC">
                            <td>2</td>
                            <td>Do you have a secondary business activity / secondary trade?</td>
                            <td>Yes/No</td>
                            <td class="center"><a href="javascript:void(0);" title="Template Sections">Edit</a></td>
                        </tr>
                        <tr class="even gradeC">
                            <td>3</td>
                            <td>What is your business postcode?</td>
                            <td>Enter Text</td>
                            <td class="center"><a href="javascript:void(0);" title="Template Sections">Edit</a></td>
                        </tr>
                        <tr class="even gradeC">
                            <td>4</td>
                            <td>How many years have you been running your own business in this industry?</td>
                            <td>Selection</td>
                            <td class="center"><a href="javascript:void(0);" title="Template Sections">Edit</a></td>
                        </tr>
                        <tr class="even gradeC">
                            <td>5</td>
                            <td>Which of these categories best describes your business?</td>
                            <td>Selection</td>
                            <td class="center"><a href="javascript:void(0);" title="Template Sections">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
</div>


