#checklist input[type=checkbox].css-checkbox {
    display:none;
}

#checklist input[type=checkbox].css-checkbox + label.css-label {
    padding-left:20px;
    height:15px; 
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;

    margin-left:20px;

    height: 24px;
    margin-top:5px;
}

#checklist input[type=checkbox].css-checkbox:checked + label.css-label {
    background-image:url(layout/checkbox_bg.png);
}

#checklist .css-label{
    background-image:url(layout/checkbox.png);
    margin-left:20px;
}

#checklist .css-label span
{
    margin-left:10px;
}